# Ignore Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Ignore environment files
.env
venv/
.venv/

# Ignore dataset and uploads (large/unnecessary files)
data/
uploads/
dataset/

# Ignore model folder except compressed model file
model/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/

# Ignore build artifacts
*.egg-info/
dist/
build/
