# Python cache
__pycache__/
*.pyc

# Temporary files
uploads/

# Large files
sign_model.pkl
data/*.csv

# Dataset videos and large JSONs
dataset/videos/
dataset/*.mp4
dataset/*.avi
dataset/*.mov
dataset/*.zip
dataset/*.tar

# Environment / IDE
.vscode/
.idea/
.env
